<!DOCTYPE html>
<html ng-app="app">

<head>
<!--  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>-->
<script src="http://ui-grid.info/release/ui-grid.js"></script>
<link rel="stylesheet" href="http://ui-grid.info/release/ui-grid.css" type="text/css">
    <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
    <script src="http://ui-grid.info/release/ui-grid-unstable.js"></script>
    <link rel="stylesheet" href="http://ui-grid.info/release/ui-grid-unstable.css" type="text/css">


<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.js"></script>
 

 
	  
     <link href="./js/jquery-ui.css" rel="stylesheet" type="text/css"/>
	<script src="./js/jquery.min.js"></script>
	<script src="./js/jquery-ui.min.js"></script>

     
<script src="./css/my.css"></script>
    <script src="./js/controller.js"></script>
 
  <link rel="stylesheet" href="./js/bootstrap.min.css">
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
      
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>

    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
    
   <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-animate.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
    <script src="http://ui-grid.info/release/ui-grid-unstable.js"></script>
<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>

<meta charset=utf-8 />
<title></title>
</head>
<body>


<div ng-controller="CompanyCtrl">


<section  class="panel-body" >
        <ul class="nav nav-tabs" ng-init="activeTab = 'By Date'" id="collapse">
            <li ng-class="{ active: activeTab === 'By Date' }">
                <a class="drop" ng-click="activeTab = 'By Date';ShowHide1()" href="#">Search By Date</a>
            </li>
            <li ng-class="{ active: activeTab === 'By Reference No' }">
                <a class="drop" ng-click="activeTab = 'By Reference No';ShowHide2()" href="#">Search By Ref No</a>
            </li>
           
        </ul>
<!-- tab1 starts -->
        <div class="tab-content" >
            <div class="tab-pane1" ng-class="{ active1: activeTab === 'By Date' }"  ng-hide="IsHiddentab1"  >
              <div class="form-search" role="search">
			 <form id="form_search" novalidate>
			 <table width="78%">
			 
					  <tr>
					    <td><label>Trade Date:</label> </td>
					    <td><input type="text" datepicker1="" ng-model="filterFromDate"/></td>
					    <td> <label>To:</label> </td>
					    <td><input type="text" datepicker1=""  ng-model="filterTodate"/></td>
					   <td><label>RepoClear:</label></td>
							  <td><input type="checkbox"  ng-true-value="'YES'"   ng-false-value="'NO'" ng-model="filterRepo" /></td> 
					    
					 </tr>
					  
					  <tr>
						    <td><label>Subscriber:</label></td>
						    <td><select ng-model="filterSubscriber" >
						      <option ng-repeat="user in myData|unique:'subscriber'"  value="{{user.subscriber}}">{{user.subscriber}}</option>
						        </select>
						    </td>
					    
						     <td><label>Source Type:</label></td>
						    <td><select ng-model="filterSourceType" >
						      <option ng-repeat="user in myData|unique:'subscriber'"  value="{{user.subscriber}}">{{user.subscriber}}</option>
						       </select>
						    </td>
					    
						     <td><label>Counter Party:</label></td>
							    <td><select ng-model="filterCParty" >
						      <option ng-repeat="user in myData|unique:'subscriber'"  value="{{user.subscriber}}">{{user.subscriber}}</option>
						       </select>
							   </td>		   
					 </tr>
					 			  <tr>     
								  <td><label>Show Errors Only:</label></td>
								  <td><input type="checkbox"  ng-true-value="'ERR'" ng-model="filterError"/></td>
								 <td colspan=4>&nbsp;</td>
								  </tr>
</table>
		<div class="button">
		  <button class="btn btn-primary" type="submit" ng-click="ShowGrid1();activateFilter()" >Search</button> &nbsp;
		  <button  class="btn btn-primary" type="reset" ng-click="reloadRoute()">CANCEL</button>
		  </div>
</form>
</div>
 </div>
<br>

 <div class="row1"  ng-hide="IsHiddenGrid1">
			<div class="col-xs-6 col-md-4">
			<div   ng-if="count!=0 && gridOptions.data.length > 0 " class="grid"  ui-grid="gridOptions" ui-grid-pagination 
					ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-selection ui-grid-exporter ui-grid-auto-resize ui-grid-edit> </div> 
			</div>
</div>
  </div>
 <!-- tab1 ends -->
 
 
 <!-- tab2 starts -->
    <div class="tab-content" >
             <div class="tab-pane" ng-class="{ active: activeTab === 'By Reference No' }" ng-hide="IsHiddentab2" >  
                  <div class="form-search" role="search">
                      <form id="form_search" novalidate>
	                 <table width="100%" padding=2>
				 <tr> 
			<td width=18%><label>Reference Number:</label></td>
			<td align="right"><input type="text" ng-model="RadioValue"/></td>
			</tr>
			<tr>
			<td><label><input type="radio"  ng-model="FilterRadioValue" value="FOReference" checked >&nbsp;Internal</label></td>
			<td><label><input type="radio"  ng-model="FilterRadioValue" value="ISMAref"  >&nbsp;ISMA</label></td>
			    </tr>
		            </table>
	  
				<div class="button">
						  <button class="btn btn-primary" type="submit" ng-click="ShowGrid2();activateFilter1()">Search</button> &nbsp;
						  <button  class="btn btn-primary" type="reset" ng-click="reloadRoute()">CANCEL</button>
				</div>
	     </form>
           </div>
   </div>
<br>
	<div class="row" ng-hide="IsHiddenGrid2">
					
			<div class="col-xs-6 col-md-4">
				<div   ng-if="count1!=0 && gridOptions.data.length > 0 " class="grid"  ui-grid="gridOptions" ui-grid-pagination 
						ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-selection ui-grid-exporter ui-grid-auto-resize ui-grid-edit> </div> 
			</div>
     </div>
       </div>
<!-- tab2 ends-->
	 </section>
	
		</div>
</body>
    
 </html>